backend/src/main/java/com/university/service/TeamServicePortType.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://service.university.com/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://localhost:8090/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://localhost:8090/" schemaLocation="TeamServicePortType_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="readTeamsFromDb">
    <part name="parameters" element="tns:readTeamsFromDb"/>
  </message>
  <message name="readTeamsFromDbResponse">
    <part name="parameters" element="tns:readTeamsFromDbResponse"/>
  </message>
  <message name="IOException">
    <part name="fault" element="tns:IOException"/>
  </message>
  <message name="findNearestTeam">
    <part name="parameters" element="tns:findNearestTeam"/>
  </message>
  <message name="findNearestTeamResponse">
    <part name="parameters" element="tns:findNearestTeamResponse"/>
  </message>
  <portType name="TeamRepository">
    <operation name="readTeamsFromDb">
      <input ns1:Action="http://localhost:8090/services/readTeamsFromDbRequest" message="tns:readTeamsFromDb" xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns2:Action="http://localhost:8090/services/readTeamsFromDbResponse" message="tns:readTeamsFromDbResponse" xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:IOException" name="IOException" ns3:Action="http://localhost:8090/services/readTeamsFromDb/Fault/IOException" xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="findNearestTeam">
      <input ns4:Action="http://localhost:8090/services/findNearestTeamRequest" message="tns:findNearestTeam" xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns5:Action="http://localhost:8090/services/findNearestTeamResponse" message="tns:findNearestTeamResponse" xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
  </portType>
</definitions>

